<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <threshold value="debug" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %line - %message%newline" />
      </layout>
    </appender>

    <appender name="file" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %line - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="debug" />
      <!--  <appender-ref ref="console" />   -->
      <appender-ref ref="file" />
    </root>
  </log4net>



  <connectionStrings>

    <add
      name="defaultConnection"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=c:\vsprojects\csis265week14_2019\csis265week11\App_Data\csis265db.mdf;Integrated Security=True"     />


    <add
      name="localhost"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=c:\vsprojects\csis265week14_2019\csis265week11\App_Data\csis265db.mdf;Integrated Security=True"     />


    <add
      name="empty"
      connectionString=""     />
  </connectionStrings>



</configuration>